@import "tailwindcss";
@import "@fontsource/lato";
@import "@fontsource-variable/oswald";
@import "@fontsource/spectral";

@theme {
  --font-sans: "Lato";
  --font-heading: "Oswald Variable";
  --font-content: "Spectral", serif;
}

*::selection {
  background-color: oklch(87.9% 0.169 91.605);
  color: black;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Oswald Variable", sans-serif;
}

#morph-container {
  height: clamp(3rem, 6vw, 6rem);
}

.threshold-layer {
  filter: url(#threshold);
  will-change: transform;
}

.container-category {
  overflow-x: auto;
}

/* WebKit */
.container-category::-webkit-scrollbar {
  height: 1px;
  border-radius: 999px;
}

.container-category::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.container-category {
  scrollbar-width: thin;
}

.container-category--dark::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 999px;
}

.container-category--dark {
  scrollbar-color: white transparent;
}

.container-category--light::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 999px;
}

.container-category--light {
  scrollbar-color: black transparent;
}
