---
import Logo from "../assets/svgs/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout themeHeader={true}>
  <main class="w-full overflow-hidden">
    <section
      id="404-section"
      class="relative flex flex-col items-center justify-center w-full h-dvh"
    >
      <a href="/" class="w-36 sm:w-56 md:w-60"><Logo black /></a>
      <h3 class="text-black uppercase font-bold mt-2">404</h3>
      <p class="text-black text-xs uppercase font-heading">
        Página no encontrada
      </p>
    </section>
  </main>
</Layout>
