---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import News from "../components/News.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main class="w-full overflow-hidden bg-neutral-800">
    <Hero />
    <News />
    <Footer />
  </main>
</Layout>
