---
import Layout from "../layouts/Layout.astro";

import Hero from "../components/Hero.astro";
import News from "../components/News.astro";
---

<Layout>
  <main class="w-full overflow-hidden">
    <Hero />
    <News />
  </main>
</Layout>
