---
import "../styles/global.css";

import Intro from "../components/ui/Intro.astro";
import Header from "../components/Header.astro";

import { ClientRouter } from "astro:transitions";

const { themeHeader = false } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/logo.svg"
      class="rounded-[.2rem]"
    />
    <title>Revista Parrhesia</title>

    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
  </head>
  <body>
    <Header black={themeHeader} />
    <slot />
    <Intro />
  </body>
</html>

<style>
  * {
    user-select: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  .lock-scroll {
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    top: 0;
    left: 0;
  }
</style>

<script>
  import Lenis from "lenis";

  let lenis: any;

  function initLenis() {
    if (lenis) return;

    lenis = new Lenis({
      autoRaf: true,
      smoothWheel: true,
    });
  }

  initLenis();

  document.addEventListener("astro:after-swap", () => {
    lenis?.resize();
    lenis?.scrollTo(window.scrollY, { immediate: true });
  });
</script>
