---
import Logo from "../../assets/svgs/Logo.astro";
---

<section
  id="intro-section"
  transition:persist
  class="fixed inset-0 w-full h-dvh overflow-hidden bg-neutral-800 p-5 z-9999"
>
  <div
    class="relative flex flex-col items-center justify-center w-full h-full border border-dashed border-white rounded-[.2rem]"
  >
    <div class="w-36 sm:w-56 md:w-60">
      <Logo black={false} />
    </div>
    <h3 id="intro-counter" class="text-white uppercase mt-1 tabular-nums">
      0%
    </h3>
    <div
      class="absolute bottom-0 left-0 text-white font-bold z-1000 overflow-hidden ml-4 mb-4"
    >
      <p
        class="split font-content opacity-0 tracking-widest"
        style="filter: url(#threshold)"
      >
        ¡Gracias por leer Parrhesia!
      </p>
    </div>
  </div>
  <svg class="absolute w-0 h-0">
    <defs>
      <filter id="threshold">
        <feColorMatrix
          in="SourceGraphic"
          type="matrix"
          values=" 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 255 -140 "
        ></feColorMatrix>
      </filter>
    </defs>
  </svg>
</section>

<style>
  .split {
    font-size: clamp(1rem, 3rem, 2vw);
    letter-spacing: 0.05rem;
    will-change: transform;
  }

  .split * {
    will-change: transform;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { SplitText } from "gsap/SplitText";

  gsap.registerPlugin(SplitText);

  gsap.set(".split", { opacity: 1 });

  let split;
  SplitText.create(".split", {
    type: "words",
    autoSplit: true,
    onSplit: (self) => {
      split = gsap.from(self.words, {
        duration: 1.8,
        delay: 0.5,
        yPercent: -150,
        opacity: 0,
        stagger: 0.1,
        ease: "expo.out",
      });
      return split;
    },
  });

  const counterEl = document.getElementById(
    "intro-counter",
  ) as HTMLHeadingElement;

  const counter = { value: 0 };

  const tl = gsap.timeline({
    onStart: () => {
      document.body.style.overflow = "hidden";
    },
    onComplete: () => {
      document.body.style.overflow = "";
    },
  });

  tl.from(counterEl, { y: 20, opacity: 0, duration: 0.8 })
    .from("#intro-section div svg", { y: 20, opacity: 0, duration: 0.8 }, "<")
    .to(
      counter,
      {
        value: 100,
        duration: 2,
        ease: "power2.out",
        onUpdate: () => {
          counterEl.textContent = `${Math.round(counter.value)}%`;
        },
      },
      "<0.2",
    )

    .to(
      "#intro-section",
      {
        clipPath: "inset(0% 0% 100% 0%)",
        duration: 1,
        ease: "power2.inOut",
        pointerEvents: "none",
      },
      "+=0.3",
    )
    .to("#intro-section", {
      display: "none",
    });
</script>
