---
import Logo from "../../assets/svgs/Logo.astro";
---

<section
  id="intro-section"
  transition:persist
  class="fixed inset-0 w-full h-dvh overflow-hidden bg-neutral-800 p-5 z-9999"
>
  <div
    class="relative flex flex-col items-center justify-center w-full h-full border border-dashed border-white rounded-[.2rem]"
  >
    <div class="w-36 sm:w-56 md:w-60">
      <Logo black={false} />
    </div>
    <h3 id="intro-counter" class="text-white uppercase mt-1 tabular-nums">
      0%
    </h3>
  </div>
</section>

<script>
  import { gsap } from "gsap";

  const counterEl = document.getElementById(
    "intro-counter"
  ) as HTMLHeadingElement;

  const counter = { value: 0 };

  const tl = gsap.timeline({
    onStart: () => {
      document.body.style.overflow = "hidden";
    },
    onComplete: () => {
      document.body.style.overflow = "";
    },
  });

  tl.from(counterEl, { y: 20, opacity: 0, duration: 0.8 })
    .from("#intro-section div svg", { y: 20, opacity: 0, duration: 0.8 }, "<")
    .to(
      counter,
      {
        value: 100,
        duration: 2,
        ease: "power2.out",
        onUpdate: () => {
          counterEl.textContent = `${Math.round(counter.value)}%`;
        },
      },
      "<0.2"
    )

    .to(
      "#intro-section",
      {
        clipPath: "inset(0% 0% 100% 0%)",
        duration: 1,
        ease: "power2.inOut",
        pointerEvents: "none",
      },
      "+=0.3"
    )
    .to("#intro-section", {
      display: "none",
    });
</script>
